{% extends "_base.njk" %}
{% block content %}


    <div class="container my-5 p-5 text-center bg-body-tertiary shadow rounded-3">
      <h1 class="text-body-emphasis fst-italic">🍾 Bifler 🌽</h1>
      <p class="lead">
        {{ content|safe }}
      </p>
      
        {% include "components/nav-buttons.html" %}

      <p class="fistbump">
        <span class="left-fist">🍆</span>
        <span class="right-fist">👌</span>
      </p>

    </div>

{% endblock %}
