  <footer class="container mb-auto">

    <div class="row d-flex justify-content-center p-2 m-2">
      <p class="fst-italic fw-semibold ">🍄 Bifler is legally under-copywritten by it's members 🚀 </p>
    </div>
    <div class="row d-flex justify-content-center p-2 m-2">
      <p class="fst-italic fw-semibold"> <a  href="#">Back to top</a></p>
    </div>
     <div class="row d-flex justify-content-center p-2 m-2">
        <p class="fst-italic fw-semibold">  <a  href="/">Bifler.net</a></p>
    </div>     
       
       
    
  </footer>