{% extends "_base.njk" %}

{% block content %}

<div class="container">
    <figure>
    <figcaption>Twist n Pull:</figcaption>
    <audio controls src="/songs/twistnpull.mp3"></audio>
    <a href="/songs/twistnpull.mp3"> Download audio </a>
    </figure>

    <figure>
        <figcaption>My Song Joy:</figcaption> 
        <audio controls src="/songs/My%20Song%20Joy.m4a"></audio> 
        <a href="/songs/My%20Song%20Joy.m4a"> Download audio </a> 
    </figure>


</div>

    {% include "components/nav-buttons.html" %}



{% endblock %}