{% extends "_base.njk" %}

{% block content %}

<div class="container">
    <figure>
    <figcaption>Twist n Pull:</figcaption>
    <audio controls src="/songs/twistnpull.mp3"></audio>
    <a href="/songs/twistnpull.mp3"> Download audio </a>
    </figure>

    <figure>
    <figcaption>Alman Joy:</figcaption>
    <audio controls src="/songs/Alman Joy.m4a"></audio>
    <a href="/songs/Alman Joy.m4a"> Download audio </a>
    </figure>


</div>

    {% include "components/nav-buttons.html" %}



{% endblock %}